.pagaleve-container {
    background-image: url('https://assets.pagaleve.com.br/checkout/split.png');
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: contain;
    background-position: center;
}