<?xml version="1.0"?>
<config>
    <modules>
        <Pagaleve_Pix>
            <version>1.2.0</version>
        </Pagaleve_Pix>
    </modules>
    <global>
        <models>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Model</class>
            </Pagaleve_Pix>
        </models>
        <resources>
            <Pagaleve_Pix_setup>
                <setup>
                    <module>Pagaleve_Pix</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Pagaleve_Pix_setup>
            <Pagaleve_Pix_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Pagaleve_Pix_write>
            <Pagaleve_Pix_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Pagaleve_Pix_read>
        </resources>
        <helpers>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Helper</class>
            </Pagaleve_Pix>
        </helpers>
        <blocks>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Block</class>
            </Pagaleve_Pix>
        </blocks>
    </global>
    <frontend>      
        <routers>
            <Pagaleve_Pix>
                <use>standard</use>
                <args>
                    <module>Pagaleve_Pix</module>
                    <frontName>pagaleve</frontName>
                </args>
            </Pagaleve_Pix>
            <checkout>
                <args>
                    <modules>
                        <Pagaleve_Pix before="Mage_Checkout">Pagaleve_Pix_Checkout</Pagaleve_Pix>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Pagaleve_Pix>
                    <files>
                        <default>Pagaleve_Pix.csv</default>
                    </files>
                </Pagaleve_Pix>
            </modules>
        </translate>
        <layout>
            <updates>
                <Pagaleve_Pix>
                    <file>pagaleve.xml</file>
                </Pagaleve_Pix>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <sales_order_creditmemo_refund>
                <observers>
                    <pagaleve_pix_model_observer>
                        <type>singleton</type>
                        <class>Pagaleve_Pix_Model_Observer</class>
                        <method>refund</method>
                    </pagaleve_pix_model_observer>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
        <translate>
            <modules>
                <Pagaleve_Pix>
                    <files>
                        <default>Pagaleve_Pix.csv</default>
                    </files>
                </Pagaleve_Pix>
            </modules>
        </translate>        
    </adminhtml>

    <crontab>
        <jobs>
            <pagaleve_pix_model_observer>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Pagaleve_Pix/observer::execute</model>
                </run>
            </pagaleve_pix_model_observer>
        </jobs>
    </crontab>

    <default>
         <payment>
             <Pagaleve_Pix>
                <model>Pagaleve_Pix/payment</model>
                <active>0</active>
                <title>PIX 4x sem juros - Pagaleve</title>
                <environment>0</environment>
                <order_status>pending</order_status>
                <retry_deadline>2</retry_deadline>
                <sort_order>10</sort_order>
                <payment_action>authorize</payment_action>
                <token_url>https://api.pagaleve.com.br/v1/authentication</token_url>
                <token_url_sandbox>https://sandbox-api.pagaleve.io/v1/authentication</token_url_sandbox>
                <checkout_url>https://api.pagaleve.com.br/v1/checkouts</checkout_url>
                <checkout_url_sandbox>https://sandbox-api.pagaleve.io/v1/checkouts</checkout_url_sandbox>
                <payment_url>https://api.pagaleve.com.br/v1/payments</payment_url>
                <payment_url_sandbox>https://sandbox-api.pagaleve.io/v1/payments</payment_url_sandbox>
                <capture_url>https://api.pagaleve.com.br/v1/payments/%s/capture</capture_url>
                <capture_url_sandbox>https://sandbox-api.pagaleve.io/v1/payments/%s/capture</capture_url_sandbox>
                <refund_url>https://api.pagaleve.com.br/v1/payments/%s/refund</refund_url>
                <refund_url_sandbox>https://sandbox-api.pagaleve.io/v1/payments/%s/refund</refund_url_sandbox>
                <release_url>https://api.pagaleve.com.br/v1/payments/%s/release</release_url>
                <release_url_sandbox>https://sandbox-api.pagaleve.io/v1/payments/%s/release</release_url_sandbox>
            </Pagaleve_Pix>
        </payment>
    </default>
</config>