<?xml version="1.0"?>
<config>
    <modules>
        <Pagaleve_Pix>
            <version>1.1.22</version>
        </Pagaleve_Pix>
    </modules>
    <global>
        <models>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Model</class>
            </Pagaleve_Pix>
        </models>

        <events>
        </events>
        <resources>
            <Pagaleve_Pix_setup>
                <setup>
                    <module>Pagaleve_Pix</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Pagaleve_Pix_setup>
            <Pagaleve_Pix_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Pagaleve_Pix_write>
            <Pagaleve_Pix_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Pagaleve_Pix_read>
        </resources>
        <helpers>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Helper</class>
            </Pagaleve_Pix>
        </helpers>
        <blocks>
            <Pagaleve_Pix>
                <class>Pagaleve_Pix_Block</class>
            </Pagaleve_Pix>
        </blocks>
    </global>
    <frontend>      
        <routers>
            <Pagaleve_Pix>
                <use>standard</use>
                <args>
                    <module>Pagaleve_Pix</module>
                    <frontName>pagaleve</frontName>
                </args>
            </Pagaleve_Pix>
        </routers>
        <translate>
            <modules>
                <Pagaleve_Pix>
                    <files>
                        <default>Pagaleve_Pix.csv</default>
                    </files>
                </Pagaleve_Pix>
            </modules>
        </translate>
        <layout>
            <updates>
                <Pagaleve_Pix>
                    <file>Pagaleve_Pix.xml</file>
                </Pagaleve_Pix>
            </updates>
        </layout>
        <!--events>
            <controller_front_send_response_after>
                <observers>
                    <pagaleve_pix_model_observer>
                        <type>singleton</type>
                        <class>Pagaleve_Pix_Model_Observer</class>
                        <method>payment</method>
                    </pagaleve_pix_model_observer>
                </observers>                
            </controller_front_send_response_after>
        </events-->
    </frontend>
    <adminhtml>
        <events>
            <sales_order_creditmemo_refund>
                <observers>
                    <pagaleve_pix_model_observer>
                        <type>singleton</type>
                        <class>Pagaleve_Pix_Model_Observer</class>
                        <method>refund</method>
                    </pagaleve_pix_model_observer>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
        <translate>
            <modules>
                <Pagaleve_Pix>
                    <files>
                        <default>Pagaleve_Pix.csv</default>
                    </files>
                </Pagaleve_Pix>
            </modules>
        </translate>        
    </adminhtml>

    <crontab>
        <jobs>
            <pagaleve_pix_model_observer>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Pagaleve_Pix/observer::execute</model>
                </run>
            </pagaleve_pix_model_observer>
        </jobs>
    </crontab>

    <default>
         <payment>
             <Pagaleve_Pix>
                  <model>Pagaleve_Pix_Model_Payment</model>
                  <active>0</active>
                  <title>PIX 4x sem juros - Pagaleve</title>
                  <approve_url>checkout/onepage/success</approve_url>              
                  <url_test>https://ve3zdjmt4h.execute-api.us-east-1.amazonaws.com/test</url_test>
                  <url_prod>https://ke8lffc2u8.execute-api.us-east-1.amazonaws.com/prod2</url_prod>
            </Pagaleve_Pix>
        </payment>
    </default>
</config>